/**
* 1.0 Burger Icon
*
* Burger Icon Styles
*/

.rmm-burger-icon {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 2px;
	background: #BEC1C7;
	border-radius: 0;
	transition: all 0.25s ease;
	vertical-align: middle;
	border: none;
}

.rmm-burger-icon:before {
	 position: absolute;
	 left: 0;
	 content: '';
	 -webkit-transform-origin: 2px center;
	 transform-origin: 2px center;
	 display: inline-block;
	 width: 24px;
	 height: 2px;
	 background: #BEC1C7;
	 border-radius: 0;
	 transition: all 0.25s ease;
	 top: -9px;
 }

.rmm-burger-icon:after {
	 position: absolute;
	 left: 0;
	 content: '';
	 -webkit-transform-origin: 2px center;
	 transform-origin: 2px center;
	 top: 9px;
	 display: inline-block;
	 width: 24px;
	 height: 2px;
	 background: #BEC1C7;
	 border-radius: 0;
	 transition: all 0.25s ease;
}

/*When sidebar is open Convert straight lines into cross*/
.rmm-burger-icon.open:before {
	transform: rotate3d(0, 0, 1, 45deg);
	transform-origin: 50% 50%;
	top: 0;
	width: 22px;
}

.rmm-burger-icon.open:after {
	transform: rotate3d(0, 0, 1, -45deg);
	transform-origin: 50% 50%;
	top: 0;
	width: 22px;
}

/*List Items*/
.rmm-mobile-menu-lists {
	margin: 0;
	padding: 0;
}

.rmm-mobile-menu-lists {
	list-style: none;
}

.rmm-mobil-menu-link {
	text-decoration: none;
}
